<table>
    <tr>
        <th>Leto izdelave </th>
        <td>2018</td>
    </tr>
    <tr>
        <th>Proizvajalec:</th>
        <td><a href="//some_website">Samsung</a></td>
    </tr>
    <tr>
        <th>    <strong>Model&nbsp;</strong> : </th>
        <td><img src="" alt="Image alt-text"> Note 10</td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td></td>
    </tr>
</table>